
<!DOCTYPE html>

<html>
	<head>
	
		<title>BrightEvents | Register</title>
		
		<!-- Mobile viewport optimized -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<!-- Bootstrap CSS -->
		<link href="{{ url_for ('static' , filename = 'bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="../static/includes/css/bootstrap-glyphicons.css" rel="stylesheet">
		
		<!-- Custom CSS -->
		<link rel="stylesheet" href="{{ url_for ('static' , filename = 'includes/css/styles.css') }}">
		
		<!-- Included the Modernizr in the head before any other Javascript to ensure compatibility with most browsers -->
		<script src="{{ url_for ('static' , filename = 'includes/js/modernizr-2.6.2.min.js') }}"></script>
		
	</head>
	<body>
	
		<div class="container" id="main">
		
			<div class="navbar navbar-fixed-top">
				<div class="container">
					
					<!-- .btn-navbar is used as the toggle for collapsed navbar content for mobile responsiveness -->
					<button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse" type="button">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					
					<a class="navbar-brand" href="/"><img src="{{ url_for('static' , filename= 'images/logo.png') }}" alt="BrightEvents"></a>
					
					<div class="nav-collapse collapse navbar-responsive-collapse">
						<ul class="nav navbar-nav">
							<li class="active">
								<a href="/">Home</a>
							</li>
							
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white">Features <strong class="caret"></strong></a>
								
								<ul class="dropdown-menu">
									<li>
										<a href="#">Create Events</a>
									</li>
									
									<li>
										<a href="#">View Events</a>
									</li>
									
									<li>
										<a href="#">Update Events</a>
									</li>
									
									<li class="divider"></li>
									
									<li class="dropdown-header">More Features</li>
									
									<li>
										<a href="#">RSVP Feature</a>
									</li>
									
									<li>
										<a href="#">Share Events (Coming Soon)</a>
									</li>
								</ul><!-- end dropdown-menu -->
							</li>
						</ul>
						
						<ul class="nav navbar-nav pull-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white"><span class="glyphicon glyphicon-user" ></span> Log In <strong class="caret"></strong></a>
								
								<ul class="dropdown-menu">

                                    <li>
										<a href="{{ url_for('signin') }}"><span class="glyphicon glyphicon-off"></span> Log In</a>
									</li>
								
								</ul>
							</li>
						</ul><!-- end nav pull-right -->
					</div><!-- end nav-collapse -->
				
				</div><!-- end container -->
			</div><!-- end navbar -->
			
			
			<div class="container">
				
					{% block flash_messages %}
					
						{% if messages %}
							{% for message in messages %}
								<div class="alert alert-danger text-center" ><b>{{ message|safe }}</b></div>
							{% endfor %}
						{% endif %}
					
					{% endblock %}
				
				
				<div class="col-lg-4"></div>
					<div class="col-lg-4">
						<div class="jumbotron" style="margin-top:90px; color:white">
							<h3 style="text-align:center"> Please Sign Up</h3>
								<p style="text-align:center; font-size: 10pt"><small class="text-muted">Kindly fill the details below to register</small></p>

							<form id = "registerForm" class="form-horizontal" method="POST" action="/register" role="form" >
							
								<div class="form-group">
									<div class="col-lg-12">
										<input name="username" class="form-control" id="inputName" placeholder="Enter Name" type="text"required>
									</div><!--end col-lg-12-->
								</div><!--end formgroup-->

								<div class="form-group">
									<div class="col-lg-12">
										<input name="email" class="form-control" id="inputEmail" placeholder="Enter Email" type="email"required>
									</div><!--end col-lg-10-->
								</div><!--end formgroup-->

								<div class="form-group">
									<div class="col-lg-12">
										<input name="password" class="form-control" id="inputPass" placeholder="Password" type="password"required>
									</div>
									<!--end col-lg-10-->
								</div><!--end formgroup-->

								<div class="form-group">
									<div class="col-lg-12">
										<input name="cpassword" class="form-control" id="confPass" placeholder="Confirm Password" type="password"required>
									</div><!--end col-lg-10-->
								</div><!--end formgroup-->

								<button name="registerButton" id="registerButton" type="submit" class="btn btn-success pull-right"> Sign Up </button>
							</form><!--end horizontal form-->
						</div><!--end jumbotron-->
					</div><!--end col-lg-4-->
			</div><!--end container-->
		</div>
				
			</div>

<footer>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <h6>Copyright &copy; 2018 Bright Events</h6>
        </div><!-- end col-sm-2 -->
        
        <div class="col-sm-4">
            <h6>About Us</h6>
            <p>Bright events provides a platform for event organizers to create and manage different types of events while making them easily accessible to target markets.It is very easy to create an account, log in, create, view, update, and delete your events!!

</p>
        </div><!-- end col-sm-4 -->
        
        <div class="col-sm-2">
            <h6>Navigation</h6>
            <ul class="unstyled">
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div><!-- end col-sm-2 -->
        
        <div class="col-sm-2">
            <h6>Follow Us</h6>
            <ul class="unstyled">
                <li><a href="https://github.com/SrMoffat/BootCamp/compare/Develop?expand=1">GitHub</a></li>
                <li><a href="https://open-andela.slack.com/messages/C6UF7MHUL/convo/C6T1ZUAH1-1504083860.000270/">Slack</a></li>
                <li><a href="https://plus.google.com/u/0/me?tab=mX">Google Plus</a></li>
            </ul>
        </div><!-- end col-sm-2 -->
        
        <div class="col-sm-2">
            <h6>With <span style="color:red" class="glyphicon glyphicon-heart"></span> 4fr0c0d3</h6>
        </div><!-- end col-sm-2 -->
    </div><!-- end row -->
</div><!-- end container -->
</footer>



<!-- All Javascript at the bottom of the page for faster page loading -->

<!-- First try for the online version of jQuery-->
<script src="http://code.jquery.com/jquery.js"></script>

<!-- If no online access, fallback to our hardcoded version of jQuery -->
<script>window.jQuery || document.write('<script src="includes/js/jquery-1.8.2.min.js"><\/script>')</script>

<!-- Bootstrap JS -->
<script src="{{ url_for('static' , filename = 'bootstrap/js/bootstrap.min.js') }}"></script>
	
<!-- Custom JS -->
<script src="{{ url_for('static' , filename = 'includes/js/script.js') }}"></script>

</body>
</html>
